*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  background-color: hsl(225, 100%, 94%);
}

.container{
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
  background-color: hsl(225, 100%, 98%);
}

img{
  width: 100%;
}
